$display-font: 'josefin sans', 'quicksand', 'gotham', sans-serif;
$main-font: 'lato', sans-serif;

$main: #34495e;
$background: #ecf0f1;
$grey: #95a5a6;
$accent: #3498db;
//set default player colors
$player1: #3498db;
$player2: #f1c40f;
$player3: #27ae60;
$player4: #1abc9c;
$player5: #9b59b6;
$player6: #c0392b;
$player7: #d35400;
$player8: #2c3e50;

//mixins and functions

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
	


// Break point mixins

@mixin bp($point) {
// Portrait tablet and small desktops
	@if $point == small {
		@media (min-width: 415px) { @content; }
	}
//Landscape phone to portrait tablet
	@if $point == medium {
		@media (min-width: 620px) { @content; }
	}
//Landscape phones and down
	@if $point == large {
		@media (min-width: 800px) { @content; }
	}
} 

@import 'reset';
@import 'main';
@import 'players';
@import 'forms';
@import 'sweet-alert.scss';